.main-data {
    margin: 0 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
}

.main-data > * + * {
    margin-left: 3%;
}

.table-wrapper {
    width: 80%;
    font-size: 1.125rem;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--bgc-table);
}

.table-wrapper button {
    background-color: var(--clr-yellow-900);
    padding: 1px 4px;
}

.table-wrapper button + button {
    margin-left: 3px;
}
